html,
body {
    margin: 0 1em;
    /*color: #005c26 */
    color: #0b0602;
    background-color: #fdf3ec;
    /* background-color: #bdfcbf; */
    font-family: poppins, sans-serif, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue;
}

/* each page title*/
h1 {
    font-size: 10vmin;
    font-weight: 500;
    padding: 10vmin 0 0 12vmin;
    font-family: gopher, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
    text-decoration: none;
    color: #d02500;
    font-weight: 550;
}

a:hover {
    opacity: 0.8;
}
